BeautifulSoup==3.2.1
click==6.7
Django==1.10.5
mechanize==0.2.5
nltk==3.2.2
psycopg2==2.6.0
#python-dotenv==0.6.2
django-dotenv==1.4.1
requests==2.12.5
six==1.10.0
textblob==0.11.1
Unidecode==0.4.20
django-widget-tweaks==1.4.1
gunicorn==19.6.0
whitenoise==3.3.0
