container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  04_install_corpora:
    command: "chmod +x bin/post_compile && bin/post_compile"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "qually_dj.settings"
    "PYTHONPATH": "/opt/python/current/app/qually_dj:$PYTHONPATH"
    "ALLOWED_HOSTS": [".elasticbeanstalk.com", "www.quallyjobs.com"]
  "aws:elasticbeanstalk:container:python":
    WSGIPath: qually_dj/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/staticfiles/": "www/static/"