{% extends "homepage/header.html" %}
{% load widget_tweaks %}
{% block content %}

<!-- <a href="{% url 'jobs:index' %}">Why, Doe</a> -->
<main>
<!-- {% include "homepage/includes/htmlsnippet.html" %} -->
<div class="row">

<form role 'form' method= 'GET' action= "{% url 'jobs:index' %}" >
{{ form.non_field_errors }}

<div class="col-md-6">
	<p>Paste Resume</p>
	<div class="fieldWrapper">
	    {{ form.resume.errors }}
	    
	    {% render_field form.resume class="form-control" placeholder="resume text here" %}
	</div>
</div>

<div class="col-md-6 form-horizontal">
	<div id= "title-field" class="fieldWrapper form-group">
	    {{ form.job_title.errors }}
	    <label id = "title-label" for="{{ form.job_title.id_for_label }}">Job Title</label>
	   <!--  <div id= "title-input" class = "form-control" placeholder="softwareengineer"> -->
	    {% render_field form.job_title class="form-control" placeholder="software engineer" %}
	</div>
	
	<div id= "location" class="fieldWrapper form-group">
	    {{ form.city.errors }}
	    <label for="{{ form.message.id_for_label }}">City</label>
	    {% render_field form.city class="form-control" placeholder="Seattle" %}

	    {{ form.state.errors }}
	    <label for="{{ form.state_for_label }}">State</label>
	    {% render_field form.state class="form-control" placeholder="WA" %}
	</div>
	
	<div class="fieldWrapper form-group">
	    {{ form.yrs_exp.errors }}
	    <label id = "yrs-exp-label" for="{{ form.yrs_exp_for_label }}" class = "col-sm-3">Years of Experience</label>
	    
	    <div id= "yrs-exp-input"class >
	    {% render_field form.yrs_exp class="form-control" placeholder="0" %}
		</div>
	</div>
	<div id = "submit-button" class = "row">
		<input class="col-sm-6 col-sm-offset-3 btn btn-primary" type="submit"  value="See My Jobs"></input>
	</div>
</div>
</form>


</main>


<!-- <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/jobs">
<i class="fa fa-twitter fa-fw"></i> <span class="network-name">See My Jobs</span></a>
                            </li>
                            
 </ul> -->
{% endblock %}