{% extends "homepage/header.html" %}

{% block content %}

<!-- <a href="{% url 'jobs:index' %}">Why, Doe</a> -->
<main>
<p>To get curated jobs, fill out this form</p>
<p>lalalalalalalalalalalalala</p>
<h1>Enter your information!</h1>
<!-- {% include "homepage/includes/htmlsnippet.html" %} -->
<div class="row">

<form role 'form' method= 'GET' action= "{% url 'jobs:index' %}" >
{{ form.non_field_errors }}

<div class="col-md-6">
	<p>Paste Resume</p>
	<div class="fieldWrapper">
	    {{ form.resume.errors }}
	    
	    {{ form.resume }}
	</div>
</div>

<div class="col-md-6">
	<div class="fieldWrapper">
	    {{ form.job_title.errors }}
	    <label for="{{ form.job_title.id_for_label }}">Job Title:</label>
	    {{ form.job_title }}
	</div>
	<div class="fieldWrapper">
	    {{ form.city.errors }}
	    <label for="{{ form.message.id_for_label }}">City:</label>
	    {{ form.city }}
	    {{ form.state.errors }}
	    <label for="{{ form.state_for_label }}">State:</label>
	    {{ form.state }}
	</div>
	<!-- <div class="fieldWrapper">
	    
	</div> -->
	<div class="fieldWrapper">
	    {{ form.cc_myself.errors }}
	    <label for="{{ form.yrs_exp_for_label }}">Years of Experience:</label>
	    {{ form.yrs_exp}}
	</div>
	<input type="submit"  value="See My Jobs"></input>
</div>





<!-- <button type = 'submit'>See My Jobs</button> -->
</form>
</main>


<!-- <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/jobs">
<i class="fa fa-twitter fa-fw"></i> <span class="network-name">See My Jobs</span></a>
                            </li>
                            
 </ul> -->
{% endblock %}