/* keeps top of the page from getting swallowed up */
#buffer{
	height: 15vh;
}


/* nav bar */
.navbar.navbar-fixed-top.topnav{
	height: 80px;
}
.navbar-default .navbar-brand {
    color: #1b03c7;
}
.navbar-header{
	display: inline;
	width: 50%
}
.navbar-collapse.collapsing, 
.navbar-collapse.in {
	background: gray;
    margin-top: -44px;
}

#qually-name {
    font-size: 27px;
}

#headline{
	color: gray;
	font-size: 13px;
	margin: 13px 0;
}

#quallyfied, a{
	color: #1b03c7;
}
/* end nav bar*/

main.container {
	margin-top: 80px;
}

a:hover{
	color: #FF6600;
	text-decoration: none;
}

/*.fieldWrapper, #submit-button {
	padding: 5%;

}*/
/* form styling */
#title-field{
	padding-top: 0;
}

#other-fields:hover{
	color:#1b03c7;
}

#id_resume{
	width: 100%;
}

#id_city{
	width: 40%;
}

#id_state{
	width: 10%;
}

#state, #yrs-exp-label{
	padding: 0;
}

input{
	margin: 0;
}

.btn-primary{
	background-color: #1b03c7;
	border-color: rgb(9, 2, 56);
}
.btn-primary:hover{
	background-color: #FF6600;
	border-color: #d49104;
}

@media screen and (max-width: 991px){
    .fieldWrapper{
/*    	background-color: blue;
*/        padding:1%;
        
    }
}
/* end form styling */


.job-title:hover, .navbar-default .navbar-brand:hover{
	color: #FF6600;
}

.match-keyword, .keyword{
	display: inline;
}

.keyword{
	color: #FF6600; /* orange*/
}


.snippet{
/*	font-family: 'Open Sans', serif;
*/
}