{% extends "homepage/header.html" %}

{% block content %}

{% for job in jobs %}
<h2><a href= '{{job.url}}'>{{ job.title }} {% if job.qually_rec %}⭐{%endif%}</a></h2>
<h4>{{ job.company }}, {{ job.location }}</h4>
<p>{{ job.snippet|safe }}</p> <!--the safe pip is to keep html formatting-->
<section id = "job-score-info">
   <!--  <p>Job score: {{ job.score}}</p> -->
        <p id = "keyword">Matching Keywords:  </p>
        {% for keyword in job.matching_words %}
            <p id = "keyword">    •   {{keyword}}</p>
        {% endfor %}

        {% if job_exp_req %}
            <p>Experience needed: {% job.exp_req}} years</p>
        {%else %}
             <p>No experience needed</p>
        {% endif %}
</section>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if jobs.has_previous %}
            <a href="?{{request.META.QUERY_STRING}}&amp;page={{ jobs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}.
        </span>

        {% if jobs.has_next %}
            <a href="?{{request.META.QUERY_STRING}}&amp;page={{ jobs.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}