{% extends "homepage/header.html" %}

{% block content %}
<h1>Qually</h1>
<p>This is the  index page for jobs </p>

{% for job in jobs %}
<h2><a href= '{{job.url}}'>{{ job.title }}</a></h2>
<h4>{{ job.company }}, {{ job.location }}</h4>
<p>{{ job.snippet|safe }}</p> <!--the safe pip is to keep html formatting-->
<p>Job score: {{ job.score}}</p>
   {% for keyword in job.matching_words %}
        <p>{{keyword}}</p>
   {% endfor %}
<p>Experience needed: {{ job.exp_req}}</p>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if jobs.has_previous %}
            <a href="?{{request.META.QUERY_STRING}}&amp;page={{ jobs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}.
        </span>

        {% if jobs.has_next %}
            <a href="?{{request.META.QUERY_STRING}}&amp;page={{ jobs.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}